:root {
    --red:hsl(0, 100%, 74%);
}
:root{
    --green:hsl(154, 59%, 51%);
}

:root{
    --purple700:hsl(248, 32%, 49%);
}
:root{
    --gray900:hsl(249, 10%, 26%);
}

:root {
    --purple350: hsl(246, 25%, 77%);
}